@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}
body{
    width: 80%;
    margin: 0 auto;
    background: rgb(231, 220, 220);
}


.float_l{
    float: left;
}
.float_r{
    float: right;
}
.w-50{
    width: 50%;
}
.w-30{
    width: 33%;
}
.w-80{
    width: 90%;
    overflow: hidden;
}

.header_section{
    height: 450px;
    padding:70px 0 0 40px;
}
.header_section img,.biography_section img{
    width: 80%;
}
.my_info , .bio_contain{
    margin-top: 160px;
}


.biography_section{
    height: 500px;
    padding:0px 0 0 40px;
}
.last_work img{
    border-radius: 7px;
}
.my_work{
    height: 250px;
}
.client_say{
    text-align: center;
    padding: 20px;
}
h1{
    text-align: center;
    color: hotpink;
    padding: 20px;
}
.containt{
    line-height: none;
}
.name{
    margin-top: 30px;
}
.containt{
    margin-top: 20px;
}

.fooder{
    margin: 0 auto;
    width: 50%;
    border: hotpink solid 2px;
    text-align: center;
    padding: 10px;
    background: hotpink;
    color: white;
    margin-bottom: 50px;
    border-radius: 10px;

}
span{
    color: hotpink;
}
button{
    border: none;
} a{
    color:white;
    background: hotpink;
    border-radius: 3px;
    padding:2px 20px;
    font-size: 18px;
    text-decoration: none;
}